
.headerfixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

#container
{
    display: flex;
    width: 70%;
    margin: 100px auto;
    gap:5%;
}

.container__video
{
    display: flex;
    flex-direction: column;

}

.publicidad__encabezado
{
    color: red;
}

.publicidad__parrafo
{
    color: blue;
}

body
{
    background-color: #fffbf7;
}

/*Quitamos espacios entre el contenido de header
    CLASS: LOGO, NAVBAR y DIV*/
.header{

    margin: 40px 20px 0px 20px;
    padding: 0px;

    /*Los espacios igual entran como elementos entonces
    toman un lugar de espacio con inline-block*/
    font-size: 0;

    /*Quitar Background color*/
    /*background-color: aqua;*/

    height: 45px;

}

/*Ponemos el LOGO, NAVBAR y DIV como inline-Block para manipularlos y que sean 
inline*/
.header > *{

    font-size: 16px;

    display: inline-block;

    vertical-align: middle;
    height: 100%;
    line-height: 45px;

    /*Reto 4 Todo elemento dentro de 
    mi barra de navegación con Sans-serif*/
    font-family: sans-serif;

}

/*Cuanto ocupara verticalmente el contenedor LOGO*/
.logo
{
    width: 15%;
}
/*Para agrandar su altura*/
.logo > img
{
    height: 100%;
}

/*Cuanto ocupara verticalmente el contenedor NavBar*/
.navbar{

    width: 70%;

    /*Reto 3 left*/
    text-align: center;
    color: #025157;

    /*Grueso de la letras*/
    font-weight: 500;

}



/*Cuanto ocupara verticalmente el contenedor Actions*/
.actions
{
    width: 15%;
    /*Reto 3 left*/
    text-align: right;

    /*Reto 4 tamaño fuente de 14px*/
    font-size: 14px;

    /*Grueso de las letras
    font-weight: 600;*/
}

.actions > *
{
    margin: 0px 10px;
}

.actions__a{
    color: #67b54b;
    text-decoration: none;
}

.actions__button
{
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}

.actions__button:hover
{
    background-color: rgb(94, 201, 243);
}

/*Mis elementos dentro de UL son LI*/
.ulist > *{
    display: inline;

    /*Reto 4 separación costados 25px*/
    margin-left: 12.5px;
    margin-right: 12.5px;
    
}

li > *{
    color:#025157;
    text-decoration: none;
}

/*Change color background Postwork*/

.container__carouselCards
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1d683;
    height: 800px;
}
.container__carouselCards h2{
    color: teal;
    font-size: 3rem;
}

.container__carouselCards p{
    color: black;
    font-size: 1.5rem;
}

.container__carouselCards button{
    height: 60px;
    width: 190px;
    background-color: teal;
    color:white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

  .slider {
    width: 300px;
    text-align: center;
    /*Si mi elemento es más grande que su caja lo oculta/muestra/scroll*/
    /*
    overflow: scroll;
    */
  }
  
  /*Pone imágenes una detrás de otra*/
  .slides {
    display: flex;

    /*Los elementos que no dan en la caja se vuelven invisibles, le dice commo reaccionar al desbordamiento*/
    overflow-x: hidden;
  }


  .slides > div {

    /*scroll-snap-align: start;*/
    flex-shrink: 0; /*Que tanto se encogerá un elemento en relación de los demás elementos dentro del flex*/
    
    width: 300px;
    height: 600px;
    margin-right: 50px;
    border-radius: 50px;
    background: white;

    /*Cada Div es un flexbox*/
    /*Para las letras/números, solo los centro dentro de la caja*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;

  }

  .slider > a {
    display: inline-flex;
    width: 2rem;
    height: 0.5rem;
    background: white;
    margin: 0.8rem 0;
    position: relative;
  }

  .slider > a:focus {
    background: #000;
  }
  


  .container__image img
  { 
      margin-top: 0;
      width: 300px;
      max-height: 500px;
      border: 2px solid #fff;
  }
  .container__image img.imagen
  {
    object-fit:fill;
  }

  .color__fondo > p{
      font-size: 20px;
  }


  .color__fondo{
      width: 300px;
      height: 200px;
      background-color: white;
  }

  .container__two__flexbox{
      display: flex;
      flex-direction: column;
  }

  .container__branch__row
  {
      display: flex;
      justify-content: start;
      width: auto;
      height: auto;

  }
  .container__branch__row2
  {
    display: flex;
    justify-content: start;
    width: auto;
    height: auto;
  }

  .container__image__branch img
  { 
      margin-top: 0;
      width: 160px;
      height: 100px;
  }
  .container__image__branch img.imagen
  {
    object-fit:fill;
  }